<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>修改用户</title>
    <link rel="stylesheet" href="/Resource/css/bootstrap.min.css">
    <script src="/Resource/js/jquery-3.3.1.min.js"></script>
    <script src="/Resource/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="form-group row">
            <form action="/user/edit/" method="post">
                <input type="hidden" name="user_id" value="<?=$data['id'];?>">
                <label for="">用户名</label>
                <input type="text" name="username" id="" value="<?=$data['username'];?>" class="form-control" placeholder="">
                <label for="">密码</label>
                <input type="text" name="password" id="" value="<?=$data['password'];?>" class="form-control" placeholder="">
                <label for="">状态</label>
                <input type="text" name="statu" id="" value="<?=$data['statu'];?>" class="form-control" placeholder="">
                
                <input type="submit" value="提交" class="btn btn-primary">
            </form>
        </div>
    </div>
</div>
</body>
</html>